@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialSymbolsRounded.woff2);
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

body {
  background: black;
  color: white;
}

.main {
  margin: 1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50vw;
  height: 50vh;
}

h1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  font-family: "Inter";
  font-size: 4rem;
}

.word {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 * {
  transition: 1s ease;
}

button {
  border: none;
  border-radius: 100vw;

  color: white;

  padding: 1rem;

  transition: 1s ease;
}

button:not([tabindex="-99"]) {
  cursor: pointer;
}

#settings {
  position: absolute;
  transform: translate(-25vw, -25vh);
}

#settings-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#settings-panel * {
  width: 50%;
}

@keyframes snake {
  0%,
  100% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(-15px);
  }
}