/* DELETE */

@font-face {
  font-family: "Inter";
  src: url(Inter-ExtraBold.ttf);
}

body {
  background: black;
  color: white;

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;

  font-family: "Inter";
  font-size: 4rem;

  text-wrap: nowrap;
}

h1 * {
  transition: 1s ease;
}

/* DELETE */